DB_URL=jdbc:postgresql://localhost:5432/fade
DB_USERNAME=postgres
DB_PASSWORD=changeme

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET_KEY=changeme
JWT_ISSUER=VibeNet_Issuer
JWT_AUDIENCE=VibeNet_Client
JWT_EXPIRATION_IN_MS=86400000

FILE_UPLOAD_DIR=C:\path\to\uploads
